body {
  background: #e9e9e9;
  color: #666666;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Pen Title */
.pen-title {
  padding: 50px 0;
  text-align: center;
  letter-spacing: 2px;
}
.pen-title h1 {
  margin: 0 0 20px;
  font-size: 48px;
  font-weight: 300;
}
.pen-title span {
  font-size: 12px;
}
.pen-title span .fa {
  color: #33b5e5;
}
.pen-title span a {
  color: #33b5e5;
  font-weight: 600;
  text-decoration: none;
}

/* Form Module */
.form-module {
  position: relative;
  background: #ffffff;
  max-width: 400px;
  width: 100%;
  border-top: 5px solid #33b5e5;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}
.form-module .toggle {
  cursor: pointer;
  position: absolute;
  top: -0;
  right: -0;
  background: #33b5e5;
  width: 30px;
  height: 30px;
  margin: -5px 0 0;
  color: #ffffff;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
}
.form-module .toggle i{color:#FFF;}
.form-module .toggle .tooltip {
  position: absolute;
  display: none !important;
  right: -100px;
  top: 5px;
  display: block;
  background: rgba(0, 0, 0, 0.6);
  width: auto;
  padding: 5px;
  font-size: 10px;
  line-height: 1;
  text-transform: uppercase;
}
.form-module .toggle:hover .tooltip{
  display: block !important;
}
.form-module .toggle .tooltip:before {
  content: '';
  position: absolute;
  top: 5px;
  left: -5px;
  display: block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid rgba(0, 0, 0, 0.6);
}
.form-module .form {
  display: none;
  padding: 40px;
}
.form-module .form:nth-child(2) {
  display: block;
}
.form-module h2 {
  margin: 0 0 20px;
  color: #33b5e5;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
}
.form-module input, .form-module textarea {
  outline: none;
  display: block;
  width: 100%;
  border: 1px solid #d9d9d9;
  margin: 0 0 20px;
  padding: 10px 15px;
  box-sizing: border-box;
  font-wieght: 400;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.form-module input:focus, .form-module textarea:focus {
  border: 1px solid #33b5e5;
  color: #333333;
}
.form-module button {
  cursor: pointer;
  background: #33b5e5;
  width: 100%;
  border: 0;
  padding: 10px 15px;
  color: #ffffff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  text-transform: uppercase;
}
.form-module button:hover {
  background: #178ab4;
}
.form-module .cta {
  background: #f2f2f2;
  width: 100%;
  padding: 15px 40px;
  box-sizing: border-box;
  color: #666666;
  font-size: 12px;
  text-align: center;
}
.form-module .cta a {
  color: #33B5E5;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px;
  text-decoration: underline;
}



/*---------View----------*/
.view{
  position: relative;
  background: #ffffff;
  max-width: 800px;
  width: 100%;
  border-top: 5px solid #33b5e5;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}
.search_box{
position: absolute;padding: 15px 0px;right: 50px;top: -10px;}
.search_box select{
    color: #82728E;
}
.search_box option{}
.search_box input[type="submit"],.print_button{
  display: inline !important;
  width: 60px;
  padding: 2px 7px;
  margin: 0px;
  color: #807C7C;
  background: #E9E9E9;
}
.search_box input[type="submit"]:hover{

background: #33B5E5;color: #FFF;}

.table {
width: 100%;border: 1px solid #33B5E5;}

.table > thead {
background: #33B5E5;}

.table > thead > tr {
height: 22px;}

.table > thead > tr > th {
color: #FFF;padding: 5px;text-align: left;}

.table > tbody {
}

.table > tbody > tr {

}

.table > tbody > tr:hover {

background: rgba(51, 181, 229, 0.35);}

.table > tbody > tr > td {
padding: 5px;border-bottom: 1px solid #33B5E5;}
.table > tbody > tr > td i{color: #177CA0;}
.table > tbody > tr > td i:hover{color: #F948EA;}
.table td:last-child, .table th:last-child{text-align: center;}
.page {padding: 15px 0px;}

.pagination {
margin: 0px;padding: 0px;list-style: none;text-align: center;}

.pagination > li {
display: inline-block;}

.pagination > li > a {
color: #33B5E5;font-weight: bold;padding: 2px 3px;}

.pagination .la, .pagination .ra {

font-size: 18px;margin: 0px;padding: 0px;}

.error{
    padding: 5px 0px;
    color: #FF0097;
    font-family: 'RobotoDraft', 'Roboto', sans-serif;
}
.message_error{
    padding: 5px 0px;
    color: #FF0097;
    font-family: 'RobotoDraft', 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
.message_success{
  padding: 5px 0px;
  color: hsl(131, 78%, 52%);
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}



@media print {
  #print{
    background: #FFFFFF;
  }
  .print_button{
    display: none !important;
  }
  table {
    background: #FFFFFF;
    border-color: #E9E9E9 !important;
  }
  .table > thead {
    background: #e9e9e9 !important;
  }
  .table > thead > tr > th {
    color: #000 !important;
  }
  .table > tbody > tr > td {
    border-color: #E9E9E9 !important;
  }
  table td:last-child, th:last-child{
    display: none !important;
  }
  table td:first-child, th:first-child{
    display: none !important;
  }
  .cta{
    background: #FFF;
  }

}